node_modules
.vitepress/dist
.vitepress/cache
.vscode
.vitepress/.temp
cwim-win.exe

# working plugins' wikis should be ignored temproraily

docs/wiki/Dynmap
docs/wiki/FakePlayerPlugin

# 应该没有人会抽象到把 gitignore 文件当笔记用吧...